{
  "port": 3000,
  "kingSlayerCost": 1000,
  "kingSlayerNeeded": 10000,
  "devMode" : false,
  "currentUser": "TWITCH_DISPLAY_NAME",
  "botInfos": {
    "identity": {
      "username": "BOT_ACCOUNT",
      "password": "OAUTH_KEY"
    },
    "channels": [
      "TWITCH_CHANNEL"
    ]
  }
}